doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/Public/stylesheets/index.css')
  title Document
article.Registrar
  h2 ingresar
  label(for='content') Nombre
  br
  input(type='text')
  br
  label(for='content') Marca
  br
  input(type='text')
  br
  label(for='content') Precio
  br
  input(type='text')
  br
  label(for='content') Tama&ntilde;o
  br
  input(type='text')
  br
  button Registrar
hr
article.modificar
  h2 modificar
  label(for='content') Nombre de lo que deseas modificar
  br
  input(type='text')
  br
  label(for='content') Nombre que deseas ponerle
  br
  input(type='text')
  br
  button Actualizar
hr
article.eliminar
  h2 Eliminar
  label(for='content') Ingresa el nombre del producto a eliminar
  br
  input(type='text')
  br
  button Eliminar
